* {
    padding: auto 0;
    margin: auto 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/*
J'ai du séparer de manière barbare le menu
*/

#separateNav ul {
    position: fixed;
    top: 20%;
}

#separateNav ul li {
    line-height: 50px;
}

#separateNav ul li a {
    display: block;
    color: black;
}

#separateNav ul li a.active,
#separateNav ul li:hover {
    background: rgb(238, 201, 167);
    transition: .5s;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(211, 211, 211, 0.623);
}

#separateNav ul li a:hover {
    color: white;
}

.alignNav {
    text-align: left;
}

.linksToTitles {
    text-decoration-color: blue;
}