* {
    padding: auto 0;
    margin: auto 0;
    list-style: none;
    box-sizing: border-box;
}

header {
    margin: 100px 260px 260px 260px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fdf6e3;
    margin: auto 0;
    margin-left: 10px;
    color: black;
}

h1 {
    margin-bottom: 120px;
}

h2 {
    padding-bottom: 25px;
}

a {
    color: black;
    padding: 7px 16px;
}

p {
    text-align: justify;
}

.ulNum {
    padding-left: 0;
}

.liNum {
    padding-left: 5px;
    padding-right: 8px;
}

#content {
    float: right;
    height: 1000px;
}

#presentation {
    margin-bottom: 50px;
}

.txts {
    padding: 16px;
    background-color: rgba(233, 233, 233, 0.678);
    border-color: rgba(211, 211, 211, 0.623);
    border-style: solid;
    border-width: 2px;
}

.spacingB {
    margin-bottom: 100px;
}

.margins {
    margin: 50px 260px 260px 260px;
}

.alignMe {
    color: #D6D2E7;
    text-align: center;
}

@media (max-width:600px) {
    p {
        background-color: rgb(63, 134, 53);
    }
}

.linksToTitles {
    text-decoration-color: blue;
    color: blue;
}